<footer id="footer" class="content black-bg">
  <div class="container align-center">
      <ul class="footer-icon">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-vk"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-xing"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        </ul><!--/.team-icon-->
        <div class="spacing40"></div>
      <p>Made with <i class="fa fa-coffee"></i> in Bandung West Java &copy;2014 <a href="#">yoursite.com</a></p>
    </div><!--/.container-->
</footer><!--/footer-->