<footer id="footer" class="content black-bg">
  <div class="container align-center">
     <ul class="footer-icon">
          <li><a href="https://www.facebook.com/recph"><i class="fa fa-facebook"></i></a></li>
<!--             <li><a href="#"><i class="fa fa-vk"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li> -->
          <li><a href="https://twitter.com/recph"><i class="fa fa-twitter"></i></a></li>
<!--             <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-xing"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
      </ul><!--/.team-icon-->
      <div class="spacing40"></div>
      <p>Re: ApS, Flæsketorvet 26-28 (1. sal), 1711 København V. - Tlf. 60 848 999 - CVR:  30 20 57 31</p>
      
      <p class="cookies" style="color: #888;font-style: italic;margin: 30px 0 10px 0;">
        <b>Cookies</b><br>Vi bruger ikke cookies på dette site
      </p>

      <div class="spacing20"></div>
      <a href="https://www.ingenco2.dk/crt/dispcust/c/1201/l/2"><img width="90px" src="images/co2neutralt.png" alt="CO2 neutralt website" /> </a>
    </div><!--/.container-->
</footer><!--/footer-->