<!--HEADER START-->
<div class="header">
    <div class="for-sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-6 logo">
                  <a href="/"><img src="images/logo.png" alt="logo"></a>
                </div><!--/.logo-->
                <div class="col-md-10 menu-box hidden-xs hidden-sm">
                    <ul class="navigation">
                        <li><a href="#home">Start</a></li>
                        <li><a href="#about">Om Re:</a></li>
                        <li><a href="#works">Ydelser</a></li>
                        <li><a href="#services">Kunder</a></li>
                        <li><a href="#contact">Kontakt</a></li>
                    </ul>
                </div><!--/.menu-box-->
                <div class="box-mobile hidden-lg hidden-md">
                    <div class="menu-btn" data-toggle="collapse" data-target=".nav-collapse">
                      <span class="fa fa-bars"></span>
                    </div>
                    <ul class="nav-collapse mobile-menu hidden-lg hidden-md"></ul>
                </div><!--/.box-mobile-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.for-sticky-->
</div><!--/.header-->
<!--HEADER END-->