<!--top logos START-->
<!-- <div class="container">
    <ul class="logos">
        <li class="logo smk"><img src="images/work/black-bg/smk.png" alt="SMK logo"></li>
        <li class="logo soho"><img src="images/work/black-bg/soho.png" alt="SOHO logo"></li>
        <li class="logo pdh"><img src="images/work/black-bg/pdh.png" alt="PDH logo"></li>
        <li class="logo copenhill"><img src="images/work/black-bg/copenhill.png" alt="Copenhill logo"></li>

        <li class="logo coop"><img src="images/work/black-bg/coop.png" alt="COOP logo"></li>
        <li class="logo if"><img src="images/work/black-bg/if.png" alt="If logo"></li>
        <li class="logo louisiana"><img src="images/work/black-bg/louisiana.png" alt="Louisiana logo"></li>
        <li class="logo novozymes"><img src="images/work/black-bg/novozymes.png" alt="Novozymes logo"></li>
        <li class="logo regionh"><img src="images/work/black-bg/regionh.png" alt="Regionh logo"></li>
    </ul>
</div> -->
<!--top logos END-->


<div class="container logos">
    <div class="col-sm-8 align-center">
        <img width="87px" src="images/work/black-bg/smk.png" alt="SMK logo">
    </div>
    <div class="col-sm-8 align-center">
        <img width="134px" src="images/work/black-bg/spillemyndigheden.png" alt="Spillemyndigheden logo">
    </div>
  <!--   <div class="col-sm-9 align-center">
        <img width="43px" src="images/work/black-bg/soho.png" alt="SOHO logo">
    </div>
    <div class="col-sm-9 align-center">
        <img width="68px" src="images/work/black-bg/pdh.png" alt="PDH logo">
    </div> -->
    <div class="col-sm-8 align-center">
        <img width="134px" src="images/work/black-bg/copenhill.png" alt="Copenhill logo">
    </div>
    <div class="col-sm-8 align-center s-hide">
        <img width="110px" src="images/work/black-bg/coop.png" alt="COOP logo">
    </div>
    <div class="col-sm-8 align-center m-hide">
        <img width="69px" src="images/work/black-bg/if.png" alt="If logo">
    </div>
    <div class="col-sm-8 align-center l-hide">
        <img width="134px" src="images/work/black-bg/louisiana.png" alt="Louisiana logo">
    </div>
    <div class="col-sm-8 align-center xl-hide">
        <img width="134px" src="images/work/black-bg/novozymes.png" alt="Novozymes logo">
    </div>
    <div class="col-sm-8 align-center">
        <img width="63px" src="images/work/black-bg/regionh.png" alt="Regionh logo">
    </div>
</div>