$blue: #25B5DD

body,
.sub-title
  font-size: 15px

#status img
  width: 50px

.slider-mask
  background-color: transparent
  // background-color: rgba(20, 20, 20, 0.4)

.caption-box
  h3, p
    background-color: rgba(20, 20, 20, 0.6)
  h3
    margin: 0
    padding: 20px
    text-transform: none
    font-size: 50px
    font-weight: 200
    letter-spacing: 0.04em

  p
    margin: 0
    padding: 0 20px 20px 20px

#contact 
  p, a
    color: #000
  .phone 
    font-size: 35px
    line-height: 45px
    font-weight: 300

.liner
  background-color: $blue

@include media-max($screen-lg-min)
  //Green
  .caption-box
    h3
      height: 140px
    p
      height: 90px
@include media-max($screen-md-min)
  //Yellow
  .caption-box
    h3
      height: 140px
    p
      height: 90px
@include media-max($screen-sm-min)
  //Orange
  .caption-box
    h3
      height: 115px
      font-size: 25px
      margin-top: 20px
    p
      margin-bottom: 20px
      height: 130px

.bg1 .para-img
  background-image: url("../images/bg/koed-og-flaesk.jpg")

.bg2 .para-img
  background-image: url("../images/bg/grafitti.jpg")

span.break-mobile-only
  display: block
  height: 14px

@include media-min($screen-md-min)
  span.break-mobile-only
    display: none

@include media-max($screen-sm-min)
  .caption-box
    h3
      font-size: 25px
      margin-top: 20px
    p
      margin-bottom: 20px

  .port-item
    // width: 100%
    .port-ajax
      max-width: 360px
      margin-left: auto
      margin-right: auto

#resDebug, #roof
  position: fixed
  left: 0
  right: 0
  height: 5px
  z-index: 1000

#roof
  background: $blue

#resDebug
  background: red
  @include media-max($screen-lg-min)
    background: green
  @include media-max($screen-md-min)
    background: yellow
  @include media-max($screen-sm-min)
    background: orange